.apresentacao__video{
    margin-top: 30px; /* Adiciona uma margem acima do vídeo */
}

@media screen and (min-width: 768px) {
    .apresentacao__video{
        height: 350px; /* Define a altura do vídeo em telas maiores ou iguais a 768px */
        width: 650px; /* Define a largura do vídeo em telas maiores ou iguais a 768px */
    }
}

@media screen and (min-width: 922px) {
    .apresentacao__video{
        height: 175px; /* Define a altura do vídeo em telas maiores ou iguais a 922px */
        width: 350px; /* Define a largura do vídeo em telas maiores ou iguais a 922px */
    }
}